<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConnStr" connectionString="Initial Catalog=dbWinService;Data Source=localhost;uid=sa;password=password;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>    
    <add key="Interval.ExampleService" value="5000" />    
  </appSettings>
</configuration>